
label, input, select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
